<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <!-- The routerLink redirects the user once he clicks on the button specified, routerLinkActive allows teh user to move their curser away and the button still stays illuminated--> 
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">nstnt</a>
        
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
        <ng-container *ngIf="accountService.currentUser$ | async"> 
            <!-- This is the Guards button on the UI when the user logs in --> 
          <li class="nav-item">
            <a class="nav-link active" routerLink="/members" routerLinkActive="active">Guards</a>
          </li>
          <!-- This is the Lists button on the UI when the user logs in --> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <!-- This is the Messages button on the UI when the user logs in --> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        
        </ul>

        <!-- This is the drop down for when the user logs in -->  
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a  class="dropdown-toggle txt-light text-decoration-none" dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a  class="dropdown-item">Edit Profile</a>
            <a  class="dropdown-item"(click)="logout()">Logout</a>
          </div>
        </div>
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username" >
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
  </nav>
